# Android Studio
.gradle
.idea/
*.iml
local.properties

# Build outputs
build/
*/build/
.cxx/

# Captures
captures/

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# OS
.DS_Store
*.keystore
